@import "~assets/common.scss";

.samples__item {
    $height: 250px;
    $background-color: #8a8a8a;
    $transition-content: opacity .25s ease-in-out;
    $position-top-left: 1px;

    width: 100%;
    height: $height;
    position: relative;
    background-color: $background-color;
    border-radius: $border-radius-base;

    &__content {
        @include position($top: $position-top-left, $left: $position-top-left, $position: absolute);
        @include square_size(calc(100% - #{$position-top-left} * 2));

        cursor: pointer;
        opacity: 0;
        will-change: opacity;
        transition: $transition-content;
        border-radius: $border-radius-base;

        &:hover {
            opacity: 1;
            background-color: $color-secondary;
        }
    }
}

.sample__icon__wrapper {
    $margin-top: 50px;

    margin-top: $margin-top;
    width: 100%;
    text-align: center;

    > .icon {
        &:first-child {
            color: $color-secondary;
            background-color: $color-background;
        }

        &:last-child {
            color: $color-background;
            background-color: $color-main;
        }
    }
}
