@import "~assets/common.scss";

.samples__item {
    $height: 250px;
    $background-color: #8a8a8a;
    $transition-content: opacity .25s ease-in-out;

    width: 100%;
    height: $height;
    position: relative;
    background-color: $background-color;
    border-radius: $border-radius-base;

    &__content {
        @include position($top: 1px, $left: 1px, $isAbsolute: true);
        @include square_size(calc(100% - 2px));

        cursor: pointer;
        opacity: 0;
        will-change: opacity;
        transition: $transition-content;
        border-radius: $border-radius-base;

        &:hover {
            opacity: 1;
            background-color: $color-secondary;
        }
    }
}

.sample__icon__wrapper {
    $margin-top: 50px;

    margin-top: $margin-top;
    width: 100%;
    text-align: center;

    > .icon {
        &:first-child {
            color: $color-secondary;
            background-color: $color-background;
        }

        &:last-child {
            color: $color-background;
            background-color: $color-main;
        }
    }
}
