@import "~assets/common.scss";

.romb-icon {
    $icon-font-size: 26px;
    $icon-border-radius: 4px;
    $icon-square-size: 38px;

    @include square_size(38px);
    @include position($top: 0, $left: 50%, $position: absolute);
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
    font-size: $icon-font-size;
    background-color: $color-persian-green;
    border-radius: $icon-border-radius;

    &:before {
        @include position($top: 50%, $left: 50%, $position: absolute);
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }

    &--rotated:before {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }

    &--relative {
        @include position($top: auto, $left: auto);
        transform: rotate(45deg);
    }
}
