@import "~assets/common.scss";

.navbar-nav {
    $font-weight-navbar: 600;
    $color-nav-item: #777777;
    $padding-nav-item: 15px;
    $border-radius-nav-item: 4px;
    $line-height-nav-item: 20px;

    text-transform: uppercase;
    font-weight: $font-weight-navbar;

    .nav__item--active {
        background-color: $color-secondary !important;
        color: $color-background !important;
    }

    .nav__item__link {
        border-radius: $border-radius-nav-item;
        line-height: $line-height-nav-item;
        padding: $padding-nav-item;
        display: block;
        cursor: pointer;
        color: $color-nav-item;

        &:hover {
            color: $color-main;
            text-decoration: none;
        }
    }

    a {
        color: inherit;

        &:hover {
            text-decoration: none;
        }
    }
}
