.sample-works {
    $margin-top-sample-row: 50px;
    $padding-col: 1px;

    .samples__row {
        margin-top: $margin-top-sample-row;

        > div[class^="col"] {
            padding: $padding-col;
        }
    }
}

.sample-works__button {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    font-size: 13px;
}
