@import "~assets/common.scss";

.header {
    @extend %viewport-height;
    position: relative;
    padding: 0 !important;

    .container {
        @extend %all-center;
    }

    &__subtitle {
        font-weight: 500;
        border-radius: $base-border-radius;
    }
}

.subtitle {
    &__first-word {
        font-weight: 800;

        &__first-letter {
            @extend %secondary-color;
        }
    }
}
