@import "~assets/utils/_placeholders";
@import "~assets/utils/_mixins";

.header {
    @extend %viewport-height;
    position: relative;
    padding: 0 !important;

    &__subtitle {
        font-weight: 500;
        border-radius: $base-border-radius;

        &__first-word {
            font-weight: 800;

            &__first-letter {
                @extend %secondary-color;
            }
        }
    }
}
