@import "~assets/common.scss";

.navbar {
    $z-index-navbar: 9999;

    @include breakpoint($sm, $md) {
        &-brand {
            display: none;
        }

        &-nav {
            @include horizontal-center;
            float: none !important;
        }
    }
    margin-bottom: 0 !important;
    z-index: $z-index-navbar;
    will-change: transform;
    transition: min-height, padding-top .25s ease-in-out;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0 !important;

    &-brand {
        padding: 0 !important;
        margin-left: 15px;
    }

    &-header {
        @include lg {
            position: initial;
        }
        position: relative;
    }

    &-nav {
        text-transform: uppercase;
        font-weight: 600;

        .nav__item.active {
            background-color: $color-secondary !important;
            color: $color-background !important;
        }
    }
}
