@import "~assets/common.scss";

.navbar {
    $min-height-navbar: 100px;
    $padding-bottom: 20px;
    $z-index-navbar: 9999;

    border-right: none !important;
    border-left: none !important;
    border-radius: 0 !important;
    z-index: $z-index-navbar;

    @include breakpoint($sm, $md) {
        &-brand {
            display: none;
        }

        &-nav {
            @include horizontal-center;
            float: none !important;
        }
    }
    min-height: $min-height-navbar;
    padding-bottom: $padding-bottom;
    margin-bottom: 0;

    & .container {
        @include position($top: 10px)
    }

    &-brand {
        padding: 0 !important;
        margin-left: 15px;
    }

    &-header {
        @include lg {
            position: initial;
        }
        position: relative;
    }

    &-nav {
        text-transform: uppercase;
        font-weight: 600;

        .nav__item.active {
            background-color: $color-secondary !important;
            color: $color-background !important;
        }
    }
}
