@import "~assets/common.scss";

.section {
    $base-padding: 75px;

    position: relative;
    padding: $base-padding 0;
    width: 100%;
    color: $color-main;

    &__inner {
        @include square_size(100%);
    }

    &--dark {
        background-color: $color-main;
        color: $color-background;
    }
}
