@import "~assets/utils/_sections";
@import "~assets/utils/_variables";

html,
body {
    width: 100%;
    height: auto;
    background-color: $background-color;
    font-size: $browser-context * 1px;
    font-family: $raleway-font;
}
