@import "assets/common";

html,
body {
    width: 100%;
    height: auto;
    background-color: $color-white;
    font-size: $font-size-default * 1px;
    font-family: $font-raleway;
    overflow-x: hidden;
}
