@import "~assets/utils/variables.scss";

.offerings {
    $items-top-margin: 50px;
    $padding-top-bottom: 85px;

    padding: $padding-top-bottom 0 $padding-top-bottom;

    &__items {
        margin-top: $items-top-margin;
    }
}
