@import "~assets/common.scss";

$offerings-icon-dimensions: 100px;
$item-bottom-margin: 30px;

.offerings__item__icon {
    position: relative;
    color: $color-background;
    font-size: 2.6em;
    width: $offerings-icon-dimensions;
    height: $offerings-icon-dimensions;
    background-color: $color-main;
    border-radius: 50%;
    margin: auto auto $item-bottom-margin;
    text-align: center;

    &__wrapper {
        width: inherit;
        @extend %vertical-center;
    }
}
